<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Missions</h1>
    <ul class="marsMissions">
      <% for(let i = 0; i < marsMissions.length; i++) { %>
        <li>  <a href="/<%=i%>"> <%= marsMissions[i].name %> </a> </li>
      <% } %>
    </ul>
  </body>
</html>
