<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= marsMissions.name %></h1>
    <ul>
      <li> Launch Date: <%= marsMissions.launchDate %> </li>
      <li> Operator: <%= marsMissions.operator %> </li>
      <li> Mission Type: <%= marsMissions.missionType %> </li>
    </ul>
  </body>
</html>
